body {
    background-color: #000;
}

.navbarflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    position: fixed;
    width: 100vw;
    top: 0;
}

.parallax-effect {
    background-image: url(/CINETHECK/asset/img/parallaxe.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 300px;
    
}

.btncyan:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0 -25px 18px -14px inset,rgba(255, 255, 255, 0.25) 0 1px 2px,rgba(255, 255, 255, 0.25) 0 2px 4px,rgba(255, 255, 255, 0.25) 0 4px 8px,rgba(255, 255, 255, 0.25) 0 8px 16px,rgba(255, 255, 255, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.logonavbar,
#logonavbar{
    width: 35%;
    margin: auto;
}

@media screen and (min-width: 768px) {

    .parallax-effect {
        background-size: 70%;
        min-height: 400px;
    }

    .navbarflex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        position: fixed;
        width: 100vw;
        top: 0;
    }
}
