body {
    background-color: #000;
}

.navbarflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    position: fixed;
    width: 100vw;
    top: 0;
}

.logoprofil{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.parallax-effect {
    background-image: url(/CINETHECK/asset/img/parallaxe.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 300px;
    
}

.btncyan:hover {
    background-color: #4cb9bc;
}

.logonavbar,
#logonavbar{
    width: 35%;
    margin: auto;
}

@media screen and (min-width: 768px) {

    .parallax-effect {
        background-size: 70%;
        min-height: 400px;
    }

    .navbarflex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        position: fixed;
        width: 100vw;
        top: 0;
    }
}
