HTML/CSS RESET


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Roboto', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* -------------- DEBUT -------------- */

main.with-parallax {
    position: relative;
    top: -50px;
}

.btncyan {
    color: #fff3fc;
    background-color: #5de1e697;
    border-radius: 100px;
    cursor: pointer;
    width: 200px;
    display: inline-block;
    font-weight: bolder;
    padding: 7px 20px;
    text-align: center;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.identif{
    position: fixed;
}

.sect1{
    padding-top: 50px;
}

section{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre{
    color: #fff3fc;
    font-size: 24px;
    font-weight: bolder;
}

.titre2{
    color: #fff3fc;
    font-size: 18px;
    font-weight: bolder;
}

strong{
    color: #b51b19;
    text-decoration: #b51b19;
}

.textcyan{
    color: #5de1e6;
    font-size: 15px;
    padding-top: 25px;
    padding-left: 7px;
    padding-right: 7px;
}

.textblanc{
    color: #fff3fc;
    font-size: 16px;
    padding: 7px;
    width: 316px;
}

input {
        border-radius: 10px !important;
        width: 285px;
        margin: 7px 0 0 0;
        background-color: #fff3fc !important;
        margin-top: 8px !important;
        font-size: -1rem !important;
    }

input[type='text']::-webkit-input-placeholder{
    vertical-align: middle;
}

.btnaubergine{
    border-radius: 10px;
    background-color: #65004a !important;
    color: #fff3fc;
    font-size: 16px;
    width: 285px;
    height: 42px;
    margin: 10px;
    padding: 10px;
}

.imgaccueil{
    width: 75px;
}

.pointsforts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.textblancpf {
    color: #fff3fc;
    font-size: 17px;
    padding: 7px;
    width: 230px;
}

/* ******************CONNEXION****************** */

.clic{
    text-decoration: revert;
}

.clic:hover{
    text-decoration: none;
}
/* ******************ESPACE PERSO****************** */

.bienvenue {
    color: #fff3fc;
    font-size: 35px;
    text-align: center;
}

.profil {
    margin: auto;
}

.modif{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.modif input[type='text']::-webkit-input-placeholder{
    font-size: 20px;
    vertical-align: a;
}

.imgprofil{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.textblancfav {
    color: #fff3fc;
    font-size: 16px;
    padding: 7px;
}

.titrefav{
        display: flex;
        flex-direction: row;
        justify-content: revert;
        margin: 20px 10px;
        align-items: center;
    }

.favorisfilms{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

/* ******************CONTACT****************** */

.textarea{
    margin-top: 30px;
}

.formcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ******************PRODUITS****************** */

.flexmenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: #fff3fc;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.sous{
    display: none;
    background-color: #5de1e600;
    position: absolute;
    width: 90%;
    z-index: 1000;
    font-size: 18px;
    border-radius: 50px;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 90%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
.sous a:hover{
    border-bottom: none;
    background-color:#b51b19;
}
.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

/* ******************PRODUITS****************** */

.iframecontent{
    position: relative; 
    overflow: hidden; 
    padding-top: 56.25%; 
}

.iframe{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0; 
}

.btnview{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.avis {
    padding: 20px 20px;
    text-align: start;
    color: #fff3fc;
    font-size: 24px;
}

.flexetoile{
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
}

.syno{
    color: #fff3fc;
    font-size: 18px;
    text-align: justify;
    padding: 0px 20px;
}

@media screen and (min-width: 768px) {
    main.with-parallax {
        top: -150px;
    }

    .sect1 {
        padding-top: 50px;
    }
    .titre {
        color: #fff3fc;
        font-size: 29px;
        font-weight: bolder;
    }
    .textcyan {
        color: #5de1e6;
        font-size: 22px;
        padding-top: 25px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .textblanc {
        color: #fff3fc;
        font-size: 17px;
        padding: 7px;
        width: auto;
    }
    .titre2 {
        color: #fff3fc;
        font-size: 19px;
        font-weight: bolder;
        padding: 0px 11px 0px 10px;
    }
    .pf{
        width: 255px;
    }
    .textblancpf {
        color: #fff3fc;
        font-size: 17px;
        padding: 7px;
        width: 230px;
    }

    input {
        border-radius: 10px !important;
        width: 350px;
        margin: 7px 0 0 0;
        background-color: #fff3fc;
    }

    .favorisfilms ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);      
        justify-content: space-evenly;
        align-items: center;
    }
    .favorisfilms ul li{
        width: 250px;
  }
}

 @media screen and (min-width: 1200px) {
   
    form{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .textarea{
        width: 500px;
    }

    .sect1 {
        padding-top: 50px;
    }

    .titre {
        font-size: 50px;
    }

    .imgacc{
        margin: 90px 0px 90px 0px;
    }
    .btncyan{
        font-size: 20px;
        width: 290px;
        }

    .textcyan {
        font-size: 40px;
    }
        
    .textblanc {
        font-size: 30px;
        width: auto;
    }

    input {
        width: 400px;
        height: 60px;
        }
    ::placeholder{
           font-size: 30px; 
    }

    .btnaubergine {
        font-size: 30px;
        width: 400px;
        height: 60px;
    }

    .pf{
        width: 450px;
    }

    .favorisfilms ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);      
        justify-content: space-evenly;
        align-items: center;
    }
    .favorisfilms ul li{
        width: 300px;
  }
  }